.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MAIN VIEW */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  padding: 30px;
}

@media only screen and (max-width: 460px) {
  .container {
    width: calc(100% - 40px);
    padding: 20px;
  }
}

/* GLASSY CARD COMPONENT */
.glass {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 90%;
  background: linear-gradient(126.6deg, rgba(255, 255, 255, 0.12) 28.69%, rgba(255, 255, 255, 0) 100%);
  border-radius: 25px;
  border: 1px solid #71c4f748;
  margin: 20px;
}

@media only screen and (max-width: 460px) {
  .glass {
    width: 100%;
    background: none;
    border: none;
    backdrop-filter: none;
  }
}

/* ITEM */
.file-card {
    display: flex;
    width: 100%;
    padding: 5px;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.file-name {
    flex: 0.7;
    overflow: hidden;
    margin: 0 !important;
    cursor: pointer;
}
